<a href="https://colab.research.google.com/github/minddo/Algorithm_practice/blob/master/Chapter4_Math.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 나머지 (10430)

In [ ]:
a,b,c=map(int, input().split())
print((a+b)%c)
print(((a%c)+(b%c))%c)
print((a*b)%c)
print(((a%c)*(b%c))%c)

5 8 4
1
1
0
0

#최대공약수와 최소공배수 (2609)

In [ ]:
a,b=map(int, input().split())
def GCD(a,b):
    while b!=0:
        r=a%b
        a=b
        b=r
    return a
def LCM(a,b):
    gcd=GCD(a,b)
    return gcd*(a//gcd)*(b//gcd)
print(GCD(a,b))
print(LCM(a,b))

24 18
6
72

#최소공배수 (1934)

In [ ]:
num=int(input())
for i in range(num):
    a,b=map(int, input().split())
    print(LCM(a,b))

3
1 45000
45000
6 10
30
13 17
221

#GCD 합 (9613)

In [ ]:
num=int(input())
for i in range(num):
    num_list=input().split()
    num_list=[int(x) for x in num_list]
    n=num_list[0]
    num_list=num_list[1:]

    GCD_list=[]
    for i in range(n):
        for j in range(i+1,n):
            GCD_list.append(GCD(num_list[i],num_list[j]))
    print(sum(GCD_list))

1
4 10 20 30 40
70

# 진법

##진법 변환 (2745)

In [ ]:
num,n=input().split()

total=0
for i in range(len(num)):
    if num[len(num)-1-i].isdigit():
        total+=int(num[len(num)-1-i])*int(n)**i
    else:
        total+=(ord(num[len(num)-1-i])-55)*int(n)**i
print(total)

ZZZZZ 36
60466175

## 2진수 8진수 (1373)

In [1]:
#시간초ㅘ
bi=input()
count=0
total=''
for i in range(len(bi)):
    count+=int(bi[len(bi)-i-1])*2**(i%3)
    if i%3==2:
        total= str(count)+total
        count=0
if i%3!=2:
    total=str(count)+total
print(int(total))

11001100
314

In [ ]:
print(oct(int(input(), 2))[2:])

11001100
314

## 8진수 2진수 (1212)

In [7]:
print(bin(int(input(), 8))[2:])

314
11001100

In [40]:
oc=input()
total=''
count=0
if oc=='0':
    print(0)
    
else:
    for i in range(len(oc)):
        target=int(oc[i])
        if i==0:
            if target//4==1:
                total+='1'
                target-=4
                count+=1
            
            if target//2==1:
                total+='1'
                target-=2
                count+=1
            elif count!=0:
                total+='0'
            
            if target==1:
                total+='1'
            elif count!=0:
                total+='0'
        else:
            if target//4==1:
                total+='1'
                target-=4
            else:
                total+='0'
                
            if target//2==1:
                total+='1'
                target-=2
            else:
                total+='0'
            if target==1:
                total+='1'
            else:
                total+='0'
    print(total)

314
11001100

## -2진수

In [38]:
num=int(input())
total=''
if num==0:
    print(0)
else:
    while num!=0:
        if num%2==0:
            num=-(num//2)
            total='0'+total
        else:
            if num>0:
                num=-(num//2)
                total='1'+total
            else:
                num=(-num+1)//2
                total='1'+total
    print(total)

0

## 진법 변환 (11576)

In [64]:
A,B=map(int, input().split())
num=int(input())
num_list=input().split()
num_list=[int(x) for x in num_list]
sum=0
for i in range(len(num_list)):
    num_list[i]=num_list[i]*(A**(num-i-1))
    sum+=num_list[i]

total=''
while sum !=0:
    total=str(sum%B)+total
    sum=sum//B
    if sum!=0:
        total=" "+total
print(total)

17 8
2
2 16
6 2

## 소수찾기 (1978)

In [80]:
def prime(num):
    if num <= 1:
        return 0
    else:
        for i in range(2,num//2):
            if num%i==0:
                return 0
        return 1

In [79]:
n=int(input())
num_list=input().split()
total=0
for i in range(n):
    total+=prime(int(num_list[i]))
print(total)

4
1 3 5 7
3

## 에라토스테네스의 체 (1929)

In [27]:
a,b = map(int,input().split())
def get_prime(num):
    is_prime=[True]*(num+1)

    for i in range(2,len(is_prime)):
        if i*i>num:
            break
        if is_prime[i]==True:

            for j in range(i+i,num+1,i):
                is_prime[j]=False
        
    return [i for i in range(2,num+1) if is_prime[i]]
prime_num=get_prime(b)
for i in prime_num:
    if i>=a:
        print(i)

3 16
3
5
7
11
13

## 골드바흐의 추측(6588)

In [25]:
def get_prime(num):
    is_prime=[True]*(num+1)

    for i in range(2,len(is_prime)):
        if i*i>num:
            break
        if is_prime[i]==True:

            for j in range(i+i,num+1,i):
                is_prime[j]=False
        
    return [i for i in range(2,num+1) if is_prime[i]],is_prime
prime_num,prime_bool=get_prime(1000000)
while True:
    num=int(input())
    if num==0:
        break

    for i in range(num//2):
        if prime_bool[num-prime_num[i]]:
            print("{} = {} + {}".format(num, prime_num[i], num-prime_num[i]))
            break

8
8 = 3 + 5
20
20 = 3 + 17
42
42 = 5 + 37
0

## 소인수 분해 (11635)

In [33]:
num=int(input())
prev=1
while num!=1:
    for i in range(2,num):
        if i*i>num:
            break
        if num%i==0:
            print(i)
            num=num//i
            break
    if prev==num:
        print(num)
        break
    prev=num

9991
97
103

## 팩토리얼 (10872)

In [42]:

def factorial(n):
    if n == 0:
        return 1
    else:
        return n*factorial(n-1)

num=int(input())
print(factorial(num))

6
720

## 팩토리얼 0의 개수 (1676)

In [61]:
def countNum(N, num): 
    count = 0 
    divNum = num
    while(N >= divNum): 
        count = count + (N // divNum)
        divNum = divNum * num 
    return count

num = int(input())
print(countNum(100,5))

100
24

## 조합 0의 개수 (2004)

In [60]:
def countNum(N, num): 
    count = 0 
    divNum = num
    while(N >= divNum): 
        count = count + (N // divNum)
        divNum = divNum * num 
    return count
M, N = map(int, input().split())
print(min(countNum(M, 5) - countNum(N, 5) - countNum(M-N, 5), countNum(M, 2) - countNum(N, 2) - countNum(M-N, 2)))

25 12
2