<a href="https://colab.research.google.com/github/minddo/Algorithm_practice/blob/master/Chapter3_Dynamic_programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1로 만들기 (1463)

## Top-down

In [0]:
# DFS , 시간초과
num=int(input())
num_dict={}
depth=0
def make_one(num, num_dict, depth=0):
    depth+=1
    if num==1:
        return 0
    if num%3==0:
        temp=num//3
        if temp not in num_dict:
            num_dict[temp]=depth
        else:
            if num_dict[temp]>depth:
                num_dict[temp]=depth
        make_one(temp, num_dict, depth)
    if num%2==0:
        temp=num//2
        if temp not in num_dict:
            num_dict[temp]=depth
        else:
            if num_dict[temp]>depth:
                num_dict[temp]=depth
        make_one(temp, num_dict, depth)
    temp=num-1
    if temp not in num_dict:
        num_dict[temp]=depth
    else:
        if num_dict[temp]>depth:
            num_dict[temp]=depth
    make_one(temp, num_dict, depth)

make_one(num, num_dict)
num_dict[1]

10

3

In [0]:
# BFS, 계층적으로 확장
num=int(input())
depth=0
def make_list(arr):
    num_list=[]
    for i in arr:
        if i%3==0:
            num_list.append(i//3)
        if i%2==0:
            num_list.append(i//2)
        num_list.append(i-1)
    return num_list
if num==1:
    print(depth)
else:
    num_list=make_list([num])
    depth=1
    while True:
    
        if 1 in num_list:
            print(depth)
            break
        temp=[]
        temp=make_list(num_list)
        num_list=temp
        depth+=1

10
3

##Bottom-up

In [0]:
num=int(input())
depth=0
def make_list2(arr,n):
    num_list=[]
    for i in arr:
        if n>=i*3:
            num_list.append(i*3)
        if n>=i*2:
            num_list.append(i*2)
        num_list.append(i+1)
    return list(set(num_list))
if num==1:
    print(depth)
else:
    num_list=make_list2([1],num)
    depth+=1
  
    while True:
        if num in num_list:
            print(depth)
            break
        temp=[]
        temp=make_list2(num_list,num)
        num_list=temp
        depth+=1

10
3

# 2 x n 타일링 (11726)

In [0]:
# 재귀함수 사용 => 시간초과, 저장필요
def tiling(num):
    if num==1:
        return 1
    elif num==2:
        return 3
    else:
        return 2*tiling(num-2)+tiling(num-1)
num=int(input())
print(tiling(num))

12
2731

##Bottom up

In [0]:
num=int(input())
def tiling(num):
    tile_list=[]
    for i in range(0,num+1):
        if i==0 or i==1:
            tile_list.append(1)
        else:
            tile_list.append(tile_list[i-2]*2+tile_list[i-1])
    return tile_list[num]
print(tiling(num))

12
2731

# 1,2,3 더하기 (11727)

##Bottom up

In [0]:
num=int(input())
def addition(num):
    num_list=[]
    num_list.append(0)
    num_list.append(1)
    num_list.append(2)
    num_list.append(4)
    if num>3:
        for i in range(4,num+1):
            num_list.append(num_list[i-1]+num_list[i-2]+num_list[i-3])
    return num_list[num]
print(addition(num))

10
274

In [0]:
## 시간초과 방지
## jupyter에서 실행 x

def addition(num):
    num_list=[]
    num_list.append(0)
    num_list.append(1)
    num_list.append(2)
    num_list.append(4)
    if num>3:
        for i in range(4,num+1):
            num_list.append(num_list[i-1]+num_list[i-2]+num_list[i-3])
    return num_list[num]

import sys
n = int(sys.stdin.readline())
for i in range(n):
    num = int(sys.stdin.readline().split()[0])
    print(addition(num))

# 붕어빵 판매하기 (11052)

In [0]:
num=int(input())
costs=input().split()
costs=[int(x) for x in costs]
for i in range(1,num):
    for j in range(0,i):
        temp=costs[j]+costs[i-j-1]
        costs[i]=max(costs[i], temp)
print(costs[num-1])

10
1 1 2 3 5 8 13 21 34 55
55

#**쉬운 계단 수** (10844)

In [0]:
# n자리 끝이 j 계단 수 = n-1 자리 끝이 j-1 수 + n-1 자리 끝이 j+1 수 (for 1<j<9)
# 끝자리가 0, 9일때 예외처리
stairs=[]
stairs.append([0,1,1,1,1,1,1,1,1,1])
num=int(input())
if num>1:
    for i in range(1,num):
        stair=[]
        for j in range(0,10):
            if  j==0:
                stair.append(stairs[i-1][j+1])
            elif j==9:
                stair.append(stairs[i-1][j-1])
            else:
                stair.append(stairs[i-1][j-1]+stairs[i-1][j+1])
        stairs.append(stair)

print(sum(stairs[num-1])%1000000000)

2
17

#오르막 수(11057)

In [0]:
# n자리 끝자리 j 오르막수 = n-1 끝자리 j to 9

asc=[]
asc.append([1,1,1,1,1,1,1,1,1,1])
num=int(input())
if num>1:
    for i in range(1,num):
        items=[]
        for j in range(0,10):
            item=0
            for k in range(0,j+1):
                item+=asc[i-1][k]
            items.append(item)
        asc.append(items)
print(sum(asc[num-1])%10007)

4
715

# 이친수 (2193)

In [0]:
# n자리 이친수 끝자리 1 => n-1 이친수 끝자리 0, n자리 이친수 끝자리 0 => n-1 이친수 끝자리 0 or 1
bins=[]
bins.append([0,1])
num=int(input())
if num>1:
    for i in range(1,num):
        items=[]
        for j in range(0,2):
            if j==0:
                items.append(bins[i-1][0]+bins[i-1][1])
            else:
                items.append(bins[i-1][0])
        bins.append(items)
print(sum(bins[num-1]))

3
2

#스티커 (9465)

In [0]:
## 시간초과 방지
## jupyter에서 실행 x
import sys
num = int(sys.stdin.readline())
for i in range(num):
    costs=[]
    n=int(input())
    for j in range(0,2):
        cost=sys.stdin.readline().split()
        cost=[int(x) for x in cost]
        costs.append(cost)
    # [x, u, d]
    #initial
    values = []
    values.append([0, costs[0][0], costs[1][0]])
    for k in range (1, n):
        value=[]
        # 안뜯었을 때
        value.append(max(values[k-1][0],values[k-1][1], values[k-1][2]))
        # 위쪽 뜯었을 때
        value.append(max(values[k-1][0],values[k-1][2])+costs[0][k])
        # 아래쪽 뜯었을 때
        value.append(max(values[k-1][0],values[k-1][1])+costs[1][k])
        values.append(value)
   
    print(max(values[n-1]))

# 포도주 시식 (2156)

In [0]:
## 시간초과 방지
## jupyter에서 실행 x

# 0잔, 1잔, 2잔

import sys
num = int(sys.stdin.readline())
L=[]
for i in range(num):
    L.append(int(sys.stdin.readline()))
drinks=[]
drinks.append([0,L[0],L[0]])
for i in range(1,num):
    drink=[]
    drink.append(max(drinks[i-1]))
    drink.append(drinks[i-1][0]+L[i])
    drink.append(drinks[i-1][1]+L[i])
    drinks.append(drink)
print(max(drinks[num-1]))

# 가장 긴 증가하는 부분 수열 (11053)

In [0]:
n=int(input())
num_array=input().split()
num_array=[int(x) for x in num_array]

# i번째를 끝으로 했을 때 수열의 길이를 구한 후 최대 값을 출력
result = [1] * n
for i in range(1, n):
    for j in range(i):
        if num_array[j] < num_array[i]:
            result[i] = max(result[i], result[j]+1)

print(max(result))

6
10 20 20 30 20 50
4

#가장 큰 증가하는 부분 수열 (11055)

In [0]:
n=int(input())
num_array=input().split()
num_array=[int(x) for x in num_array]

# i번째를 끝으로 했을 때 수열의 길이를 구한 후 최대 값을 출력
import copy
result=copy.deepcopy(num_array)
for i in range(1, n):
    for j in range(i):
        if num_array[j] < num_array[i]:
            result[i] = max(result[i], result[j]+num_array[i])

print(max(result))

10
1 100 2 50 60 3 5 6 7 8
113

# 가장 긴 감소하는 부분 수열 (11722)

In [0]:
n=int(input())
num_array=input().split()
num_array=[int(x) for x in num_array]

# i번째를 끝으로 했을 때 수열의 길이를 구한 후 최대 값을 출력
result = [1] * n
for i in range(1, n):
    for j in range(i):
        if num_array[j] > num_array[i]:
            result[i] = max(result[i], result[j]+1)

print(max(result))

6
10 30 10 20 20 10
3

#가장 긴 바이토닉 부분 수열 분류 (11054)

In [0]:
n=int(input())
num_array=input().split()
num_array=[int(x) for x in num_array]

# i번째를 끝으로 했을 때 수열의 길이를 구한 후 최대 값을 출력
result1 = [1] * n
result2 = [0] * n
for i in range(1, n):
    for j in range(i):
        #증가파트
        if num_array[j] < num_array[i]:
            result1[i] = max(result1[i], result1[j]+1)
        #감소파트
        if num_array[n-j-1] < num_array[n-i-1]:
            result2[n-i-1] = max(result2[n-i-1], result2[n-j-1]+1)
result=[0]*n
for i in range(n):
    result[i]=result1[i]+result2[i]
print(max(result))

10
1 5 2 1 4 3 4 5 2 1
7

#연속합 (1912)

In [3]:
n=int(input())
num_array=input().split()
num_array=[int(x) for x in num_array]

# i번째를 끝으로 했을 때 최대 연속합
result=[num_array[0]]
for i in range(1,n):
    result.append(max(result[i-1]+num_array[i],num_array[i]))
print(max(result))

10
10 -4 3 1 5 6 -35 12 21 -1
33

#계단 오르기 (2579)

In [8]:
n=int(input())
num_array=[]
for i in range(n):
    num=int(input())
    num_array.append(num)

# i번째를 끝으로 했을 때 최대 계단오르기 점수
result=[[0,num_array[0],num_array[0]]]
for i in range(1,n):
    result.append([max(result[i-1][1],result[i-1][2]), result[i-1][0]+num_array[i], result[i-1][1]+num_array[i]])
print(max(result[n-1][1],result[n-1][2]))

6
10
20
15
25
10
20
75

#제곱수의 합(1699)

In [23]:
num=int(input())
result=list(range(num+1))
for i in range(1,num+1):
    j=1
    while i>=j*j:
        if result[i]>result[i-j*j]+1:
            result[i]=result[i-j*j]+1
        j+=1
result[num]

7

4

# 타일 채우기 (2133)

In [62]:
# 3xn 타일 채우기, n이 짝수일때만 가능
num=int(input())

num_list=[1]
n=num//2

for i in range (1, n+1):
    num_list.append(3*num_list[i-1])
    if i>=2:
        for j in range(2, i+1):
            num_list[i]+=2*num_list[i-j]
num_list[0]=0
if num%2!=0:
    print(0)
else:
    print(num_list[n])

3
0

#파도반 수열(9461)

In [84]:
n=int(input())
for i in range(n):
    num=int(input())
    if num==0:
        print(0)

    else:
        result=[1,1,1,2,2]
        if num<=5:
            print(result[num-1])
        else:
            for j in range(5,num):
                result.append(result[j-1]+result[j-5])
            print(result[num-1])

2
3
1
1
1

#합분해(2225)

In [4]:
n, k = map(int,input().split())
mod = 1000000000
dp = [[0]*(n+1) for _ in range(k+1)]
dp[0][0] = 1

# dp[K][N] = dp[K-1][0]+dp[K-1][1]+ ... +dp[K-1][N-1]+dp[K-1][N] => O(KN^2)
# dp[K][N-1] = dp[K-1][0]+ ... +dp[K-1][N-1] 을 위 식에 대임
# dp[K][N] = dp[K][N-1]+dp[K-1][N] => O(KN)
for i in range(1, k+1):
    for j in range(n+1):
        dp[i][j] = dp[i-1][j] + dp[i][j-1]
        dp[i][j] %= mod
print(dp[k][n])

20 2
21

# 암호코드 (2011)

In [36]:
num=input()
dp=[[0]*2 for _ in range(len(num)+1)]
dp[0][0]=1
dp[1][0]=1
if num[0]=='0':
    print(0)
else:
    for i in range(2,len(num)+1):
        if num[i-1]!='0':
            dp[i][0]=sum(dp[i-1])

        if num[i-2:i] <='26' and num[i-2:i]>='10':
            dp[i][1]=sum(dp[i-2])
    dp[0][0]=0
    print(sum(dp[len(num)])%1000000)

10
1